<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>447577823119-p46j1ianbb72d1r3ttgii5n77jh5ftua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.447577823119-p46j1ianbb72d1r3ttgii5n77jh5ftua</string>
	<key>API_KEY</key>
	<string>AIzaSyBW9hceoyJ-6P-eK8wUcFtXp7ue85OY-_g</string>
	<key>GCM_SENDER_ID</key>
	<string>447577823119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.commect</string>
	<key>PROJECT_ID</key>
	<string>commect-7631c</string>
	<key>STORAGE_BUCKET</key>
	<string>commect-7631c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447577823119:ios:0903a4af2ab6beb1c29dfa</string>
</dict>
</plist>